<div class="container">
  <h2>Llista perfils</h2>
  <button (click)="loadProfile()">Actualitzar</button>
  <input type="search" [(ngModel)]="profileFilter.name" />
  <mat-table [dataSource]="filterProfiles">
    <!-- ID Column -->
    <ng-container matColumnDef="ID">
      <mat-header-cell *matHeaderCellDef>ID</mat-header-cell>
      <mat-cell *matCellDef="let element">{{ element.profileID }}</mat-cell>
    </ng-container>

    <!-- Nom Column -->
    <ng-container matColumnDef="Nom">
      <mat-header-cell *matHeaderCellDef>Nom</mat-header-cell>
      <mat-cell *matCellDef="let element">{{ element.name }}</mat-cell>
    </ng-container>

    <!-- Primer Cognom Column -->
    <ng-container matColumnDef="Primer Cognom">
      <mat-header-cell *matHeaderCellDef>Primer Cognom</mat-header-cell>
      <mat-cell *matCellDef="let element">{{ element.surname1 }}</mat-cell>
    </ng-container>

    <!-- Segon Cognom Column -->
    <ng-container matColumnDef="Segon Cognom">
      <mat-header-cell *matHeaderCellDef>Segon Cognom</mat-header-cell>
      <mat-cell *matCellDef="let element">{{ element.surname2 }}</mat-cell>
    </ng-container>
    <!-- Pes Column -->
    <ng-container matColumnDef="Edat">
      <mat-header-cell *matHeaderCellDef>Edat</mat-header-cell>
      <mat-cell *matCellDef="let element">
        {{ element.age }}
      </mat-cell>
    </ng-container>
    <!-- Alçada Column -->
    <ng-container matColumnDef="Color del cabell">
      <mat-header-cell *matHeaderCellDef>Color del cabell</mat-header-cell>
      <mat-cell *matCellDef="let element">
        {{ element.hairColor }}
      </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
  </mat-table>
</div>
