<div class="container">
  <h2>Llista perfils</h2>
  <section>
    <button (click)="loadProfile()"><mat-icon>find_replace</mat-icon></button>
    <button (click)="clear()"><mat-icon>clear</mat-icon></button>
  </section>
  <section>
    <mat-form-field appearance="fill">
      <mat-label for="nom">Nom:</mat-label>
      <input matInput type="text" [(ngModel)]="profileFilter.name" />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label for="surname1">Primer Cognom:</mat-label>
      <input matInput type="text" [(ngModel)]="profileFilter.surname1" />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label for="surname2">Segon Cognom:</mat-label>
      <input matInput type="text" [(ngModel)]="profileFilter.surname2" />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label for="hairColor">Color del cabell:</mat-label>
      <input matInput type="text" [(ngModel)]="profileFilter.hairColor" />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label for="eyeColor">Color dels ulls:</mat-label>
      <input matInput type="text" [(ngModel)]="profileFilter.eyeColor" />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label for="skinColor">Color de la pell:</mat-label>
      <input matInput type="text" [(ngModel)]="profileFilter.skinColor" />
    </mat-form-field>
  </section>
  <mat-table [dataSource]="filterProfiles">
    <!-- ID Column -->
    <ng-container matColumnDef="ID">
      <mat-header-cell *matHeaderCellDef>ID</mat-header-cell>
      <mat-cell *matCellDef="let element">{{ element.profileID }}</mat-cell>
    </ng-container>

    <!-- Nom Column -->
    <ng-container matColumnDef="Nom">
      <mat-header-cell *matHeaderCellDef>Nom</mat-header-cell>
      <mat-cell *matCellDef="let element">{{ element.name }}</mat-cell>
    </ng-container>

    <!-- Primer Cognom Column -->
    <ng-container matColumnDef="Primer Cognom">
      <mat-header-cell *matHeaderCellDef>Primer Cognom</mat-header-cell>
      <mat-cell *matCellDef="let element">{{ element.surname1 }}</mat-cell>
    </ng-container>

    <!-- Segon Cognom Column -->
    <ng-container matColumnDef="Segon Cognom">
      <mat-header-cell *matHeaderCellDef>Segon Cognom</mat-header-cell>
      <mat-cell *matCellDef="let element">{{ element.surname2 }}</mat-cell>
    </ng-container>
    <!-- Pes Column -->
    <ng-container matColumnDef="Data naixement">
      <mat-header-cell *matHeaderCellDef>Data naixement</mat-header-cell>
      <mat-cell type="date" *matCellDef="let element">
        {{ element.dateBorn | date: "dd-MM-yyyy" }}
      </mat-cell>
    </ng-container>
    <!-- Alçada Column -->
    <ng-container matColumnDef="Color del cabell">
      <mat-header-cell *matHeaderCellDef>Color del cabell</mat-header-cell>
      <mat-cell *matCellDef="let element">
        {{ element.hairColor }}
      </mat-cell>
    </ng-container>
    <!-- ACTIONS Column -->
    <ng-container matColumnDef="ACTIONS">
      <mat-header-cell *matHeaderCellDef>Accions</mat-header-cell>
      <mat-cell *matCellDef="let element">
        <button
          mat-icon-button
          color="primary"
          (click)="viewProfile(element.profileID)"
        >
          <mat-icon>edit</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
  </mat-table>
</div>
