<div class="container">
  <h1>Afegir perfil</h1>
  <form [formGroup]="addProfileForm" (ngSubmit)="addprofile()">
    <section>
      <mat-form-field appearance="fill">
        <mat-label>Nom: </mat-label>
        <input matInput type="text" [formControl]="name" />
        <div
          *ngIf="name.errors && isValidForm != null && !isValidForm"
          [ngClass]="'error'"
        >
          <div *ngIf="name.errors.required">Name is required</div>
          <div *ngIf="name.errors.minlength">
            Name must be at least 5 characters long.
          </div>
          <div *ngIf="name.errors.maxlength">
            Name can be max 25 characters long.
          </div>
        </div>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Primer cognom: </mat-label>
        <input matInput type="text" [formControl]="surname1" />
        <div
          *ngIf="surname1.errors && isValidForm != null && !isValidForm"
          [ngClass]="'error'"
        >
          <div *ngIf="surname1.errors.required">Surname1 is required</div>
          <div *ngIf="surname1.errors.minlength">
            Surname1 must be at least 5 characters long.
          </div>
          <div *ngIf="surname1.errors.maxlength">
            Surname1 can be max 25 characters long.
          </div>
        </div>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Segon cognom: </mat-label>
        <input matInput type="text" [formControl]="surname2" />
        <div
          *ngIf="surname2.errors && isValidForm != null && !isValidForm"
          [ngClass]="'error'"
        >
          <div *ngIf="surname2.errors.minlength">
            Surname2 must be at least 5 characters long.
          </div>
          <div *ngIf="surname2.errors.maxlength">
            Surname2 can be max 25 characters long.
          </div>
        </div>
      </mat-form-field>
    </section>
    <section>
      <mat-form-field appearance="fill">
        <mat-label>Color del cabell: </mat-label>
        <input matInput type="text" [formControl]="hairColor" />
        <div
          *ngIf="hairColor.errors && isValidForm != null && !isValidForm"
          [ngClass]="'error'"
        >
          <div *ngIf="hairColor.errors.maxlength">
            HairColor can be max 50 characters long.
          </div>
        </div>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Color de la pell: </mat-label>
        <input matInput type="text" [formControl]="skinColor" />
        <div
          *ngIf="skinColor.errors && isValidForm != null && !isValidForm"
          [ngClass]="'error'"
        >
          <div *ngIf="skinColor.errors.maxlength">
            Color de la pell can be max 50 characters long.
          </div>
        </div>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Color dels ulls: </mat-label>
        <input matInput type="text" [formControl]="eyeColor" />
        <div
          *ngIf="eyeColor.errors && isValidForm != null && !isValidForm"
          [ngClass]="'error'"
        >
          <div *ngIf="eyeColor.errors.maxlength">
            eyeColor can be max 100 characters long.
          </div>
        </div>
      </mat-form-field>
    </section>
    <section>
      <mat-form-field appearance="fill">
        <mat-label>Caracteristica etnica: </mat-label>
        <input matInput type="text" [formControl]="ethnic_characteristics" />
        <div
          *ngIf="
            ethnic_characteristics.errors && isValidForm != null && !isValidForm
          "
          [ngClass]="'error'"
        >
          <div *ngIf="ethnic_characteristics.errors.maxlength">
            Caracteristica etnica can be max 100 characters long.
          </div>
        </div>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Numero de cicatrius: </mat-label>
        <input matInput type="number" [formControl]="scars" />
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Constitució del cos: </mat-label>
        <input matInput type="text" [formControl]="constitution" />
        <div
          *ngIf="constitution.errors && isValidForm != null && !isValidForm"
          [ngClass]="'error'"
        >
          <div *ngIf="constitution.errors.maxlength">
            Constitució del cos màxim 100 caracters.
          </div>
        </div>
      </mat-form-field>
    </section>
    <section>
      <mat-form-field appearance="fill">
        <mat-label>Lloc de naixement: </mat-label>
        <input matInput type="text" [formControl]="bornLocation" />
        <div
          *ngIf="bornLocation.errors && isValidForm != null && !isValidForm"
          [ngClass]="'error'"
        >
          <div *ngIf="bornLocation.errors.maxlength">
            Lloc de naixement can be max 250 characters long.
          </div>
        </div>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Data de naixement: </mat-label>
        <input matInput type="date" [formControl]="dateBorn" />
        <div
          *ngIf="dateBorn.errors && isValidForm != null && !isValidForm"
          [ngClass]="'error'"
        >
          <div *ngIf="dateBorn.errors.maxlength">
            Data de naixement can be max 100 characters long.
          </div>
        </div>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Numero d'extremitats: </mat-label>
        <input matInput type="number" [formControl]="lackExtremitats" />
      </mat-form-field>
    </section>
    <section>
      <label>Sord:<input type="checkbox" [formControl]="deaf" /> </label>

      <label>Mud: <input type="checkbox" [formControl]="mute" /></label>
    </section>

    <button mat-raised-button color="primary" type="submit">
      Afegir perfil
    </button>
  </form>
</div>
